@using WeMedCare.Models

@{
    // Layout = null;
    List<BloodModel> blood = ViewBag.Category;
}


    <meta name="viewport" content="width=device-width" />
    <title>BloodDonorList</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <style>
        .lebeldesign {
            float: left;
            margin-right: 10px;
            font-size: 20px;
            color: #1b2631;
          
        }

        #bloodid {
            float: right;
            margin-right: 3px;
            width: 240px;
            height: 40px;
            border-radius: 10px;
            border: 2px solid #2c3e50;
        }

        .coldesign {
            margin-top: 30px;
            margin-bottom: 30px;
            background-color: #fbfcfc;
            height: inherit;
            /*background-color: #b9aeae;*/
            padding-top: 15px;
            box-shadow: -1px 2px 18px #2a4829;
            padding-bottom: 18px;
            border-radius: 10px;
        }

        .design {
            border-radius: 20px;
            background-color: #fbfcfc;
            margin-top: 100px;
            height: inherit;
            margin: 10px;
            padding: 15px;
            text-align: center;
            box-shadow: -1px 2px 18px #2a4829;
        }

            .design:hover {
                box-shadow: -1px 2px 18px #2a4829;
            }
       
        .hi {
            margin-top: 30px;
        }
        .bye {
            margin-bottom: 100px;
        }
        .t_med {
            margin-top: 20px;
            margin-bottom: 15px;
        }

        #ourmed {
            font-size: 48px;
            border-bottom-style: ridge;
            font-weight: bold;
            /*border-bottom-style: black;*/
            /*color: #3ea5c1;*/
            color: #ab0f0f;
        }
        .bloodfulldiv {
            width: 100%;
            display: inline-block;
            margin-bottom: -50px;
            opacity: 1;
            background-image: url(../Content/picture/bl.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

<div class="bloodfulldiv">

<div class="container">
    <div class="t_med">
        <center>
            <strong id="ourmed">Blood Donor List</strong>
        </center>
    </div>

    <div class="row hi">
        <div class="col-md-3"></div>
        <div class="col-md-6 coldesign">
            <center>
                <form method="POST">
                    <table>
                        <tr>
                            <td><label class="lebeldesign"><b>Blood Group</b></label></td>
                            <td>
                                <select id="bloodid" name="Bloodid" class="form-control">

                                    <option value="">SELECT</option>
                                    @foreach (BloodModel bl in blood)
                                    {
                                        <option value="@bl.Id">@bl.BloodGroup</option>
                                    }
                                </select>
                            </td>
                        </tr> 
                    </table>
                  
                </form>
            </center>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row bye">
        @*<div class="col-md-1"></div>*@
        <div class="col-md-12 design">
            <table class="table table-bordered table-striped table-hover" id="donortable">
                <thead>
                <tr>
                    <th>Donor Name</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody id="tableBody"></tbody>

            </table>
        </div>
        @*<div class="col-md-1"></div>*@
    </div>
</div>
</div>
@section scripts
{

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#donortable').DataTable();

            $('#bloodid').on('change', function () {
                var deptId = $('#bloodid').val();

                table.clear().draw(false);
                var json = { id: deptId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAllDonorInfoById", "Medical")',
                    contentType: 'application/json',
                    data: JSON.stringify(json),
                    success: function (response) {
                        $.each(response, function (key, value) {
                            
                            table.row.add([
                                value.DonorName,
                                value.Number,
                                value.Address

                            ]).draw(false);
                        });
                    }
                });
            });
        });
    </script>
}