@using WeMedCare.Models

@{
    //Layout = null;
    List<SpecialistModel> specialist = ViewBag.Category;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>specialist</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <style>
        .lebeldesign {
            float: left;
            margin-right: 10px;
            font-size: 20px;
            color: black;
        }

        #SpecialistId {
            float: right;
            margin-right: 3px;
            width: 240px;
            height: 40px;
            border-radius: 10px;
            border: 2px solid #2c3e50;
        }

        .coldesign {
            margin-top: 20px;
            margin-bottom: 10px;
            height: inherit;
            background-color: #aeb6bf;
            padding-top: 15px;
            padding-bottom: 16px;
        }

        .design {
            border-radius: 20px;
            margin-top: 50px;
            height: inherit;
            margin: 10px;
            padding: 12px;
            text-align: center;
            box-shadow: -1px 2px 18px #9191b6;
        }

            .design:hover {
                box-shadow: -1px 2px 18px #9191b6;
            }
    </style>
</head>
<body>
    <div class="img_hospital">
        <img src="~/Content/picture/docsearch.jpg" height="500px;" width="100%;">
    </div><br />
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 coldesign">
                <center>
                    <form method="POST">
                        <table>
                            <tr>
                                <td><label class="lebeldesign"><b>Specialist</b></label></td>
                                <td>
                                    <select id="SpecialistId" name="Id" class="form-control">

                                        <option value="">SELECT</option>
                                        @foreach (SpecialistModel sp in specialist)
                                        {
                                            <option value="@sp.Id">@sp.Specialist</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>

                    </form>
                </center>

            </div><br>
            <div class="col-md-3"></div>

        </div>
        <div class="row">
           
            <div class="col-md-12 design">
                <table class="table table-bordered table-striped table-hover" id="doctortable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Degree</th>
                            <th>Fess</th>
                            <th>Schedule</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>

                </table>
            </div>
           
        </div>




    </div>
</body>
</html>
@section scripts
{

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#doctortable').DataTable();

            $('#SpecialistId').on('change', function () {
                var deptId = $('#SpecialistId').val();

                table.clear().draw(false);
                var json = { id: deptId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetAllDoctorInfoById", "Medical")',
                    contentType: 'application/json',
                    data: JSON.stringify(json),
                    success: function (response) {
                        $.each(response, function (key, value) {
                            //$('#tableBody').append('<tr><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.CourseSemester + '</td><td>' + value.CourseTeacher + '</td></tr>');

                            table.row.add([
                                value.Name,
                                value.Degree,
                                value.Fees,
                                value.Schedule

                            ]).draw(false);
                        });
                    }
                });
            });
        });
    </script>
}