
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/aos.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        .plan {
            min-height: 380px;
            margin: 15px;
            padding: 0px;
        }

        .plan-1 {
            text-align: justify;
            font-size: 20px;
            min-height: inherit;
            margin: 15px;
            padding: 0px;
        }
        .j {
            height: 525px;
            width: 100%;
        }
        .bloodinfo {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        #bloodservices {
            font-size: 50px;
            border-bottom-style: ridge;
            font-weight: bold;
            border-bottom-style: black;
            margin-top: 15px;
        }
         /*.tutorial {
             height: 600px;
            
             background-image: url('/Content/picture/ttt.png');
             display: block;
             color: black;
             text-align: center;
             background-size: cover;
             background-repeat: no-repeat;
         }
        .owak {
            margin-top: 170px;
           
            font-size: 50px;
           
        }
        .ok {
            margin-top: 4px;
            
            font-size: 35px;
            color: white
        }*/
        .lllk {
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div class="img_blood">
        <img class="j" src="~/Content/picture/guide.png" />
    </div><br />
    <div class="container">
        <div class="bloodinfo">
            <center>
                <div class="animated slideInLeft">
                    <strong id="bloodservices" class="animated bounceIn"> Patient & Visitor Guide</strong>
                </div>

            </center>

        </div>
    </div>
@*<div class="container">
    <div class="row">
        <div class="col-md-12 tutorial">
            <div class="animated bounceIn">
                <h1 class="owak ">
                    <b>
                       
                    </b>
                </h1>
            </div>

            <h2 class="ok">
                <strong>Everything you need to know <br>about getting care at WeMedCare</strong>
            </h2>
        </div>
    </div><br><br>
</div>*@



<div class="container">
    <div class="row" data-aos="fade-left" data-aos-duration="1500">
        <div class="col-md-6">
            <div class="plan">
                <img src="~/Content/picture/reg.jpg" width="100%" height="380px;">
            </div>
        </div>

        <div class="col-md-6">
            <div class="plan-1">
                <h3 ><b>Registration</b>
                </h3>
                <p>
                    Registration is responsible for greeting and registering usersas well as verifying all users information and insurance details.
                    To register in the system patient have to fill up the username option with their name.Then they have to select a
                    username.The username must consist of letters. The email should be unique and format will be abcde@gmail.com User have to put a 
                    password.The password should consist of more than 6 digit. After submitting those information,
                    the registration procedure will be completed and thus the user is registered to the system.
                </p>
            </div>
        </div>
    </div>

    <div class="row " data-aos="fade-right" data-aos-duration="1500">
        <div class="col-md-6">
            <div class="plan-1">
                <h3><b>All about appointments</b>
                </h3>
                <p>
                    To get the appointment of the doctor, the patients should follow the appointment procedure using the appointment form.
                    They must fill the patient name, phone number and Email. The select date option means the date of appointment.
                    Then patient have to select the department of the doctor. Suppose if a patient wants to meet the eye specialist, he/she must
                    select the eye Department and select the specialist in select doctors option.After putting all the info in the doctors
                     appointment form, the appointment procedure will be completed.
                    The patient will get a confirmation message via email or phone number. Thus patients can visit the doctor
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="plan">
                <img src="~/Content/picture/appointment.png" width="100%" height="380px;">
            </div>
        </div>
    </div>
    <div class="row" data-aos="fade-left" data-aos-duration="1500">
        <div class="col-md-6">
            <div class="plan">
                <img src="~/Content/picture/testimg.png" width="100%" height="380px;">
            </div>
        </div>

        <div class="col-md-6">
            <div class="plan-1">
                <h3><b>Medical Test</b>
                </h3>
                <p>
                    patients can also do their lab tests here.For this they Don't have to go to other diagnosis center.
                    They can view the medical tests options They have to select the tests which doctor's have recommended for them. 
                    The test prices are also given there.
                     They have to click the apply button thus the medical test procedure will be completed.
                </p>
            </div>
        </div>
    </div><br/><br/>
   
</div>
<script src="~/Scripts/aos.js"></script>
<script>

    AOS.init();
</script>
</body>
</html>
