USE [master]
GO
/****** Object:  Database [HospitalDB]    Script Date: 12/31/2019 8:21:28 PM ******/
CREATE DATABASE [HospitalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HospitalDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HospitalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HospitalDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BloodDonorModels]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodDonorModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DonorName] [nvarchar](max) NULL,
	[Number] [nvarchar](max) NULL,
	[Bloodid] [int] NOT NULL,
	[Sex] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.BloodDonorModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BloodModels]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BloodGroup] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.BloodModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorDetailsModels]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorDetailsModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[Fees] [int] NOT NULL,
	[Schedule] [nvarchar](max) NULL,
	[SpecialistId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DoctorDetailsModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nurses]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Number] [nvarchar](max) NULL,
	[Wardassign] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Nurses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientAppointmentModels]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientAppointmentModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [nvarchar](max) NULL,
	[Number] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[SpecialistId] [nvarchar](max) NULL,
	[DoctorId] [int] NOT NULL,
	[Sex] [nvarchar](max) NULL,
	[PatientId] [int] NOT NULL,
	[Prescription] [nvarchar](max) NULL,
	[WardId] [int] NOT NULL,
	[Accepted] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PatientAppointmentModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Receptionists]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receptionists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Receptionists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registers]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Registers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Services]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SpecialistModels]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialistModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Specialist] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SpecialistModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestForms]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Number] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[TestName] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[PatientId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TestForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wards]    Script Date: 12/31/2019 8:21:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Wards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Email], [Password]) VALUES (1, N'/TGxxLf6pdLBsQav5F1CHg==', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[BloodDonorModels] ON 

INSERT [dbo].[BloodDonorModels] ([Id], [DonorName], [Number], [Bloodid], [Sex], [Address]) VALUES (1, N'Nizam Uddin', N'01814327326', 5, N'Male', N'Chittagong')
INSERT [dbo].[BloodDonorModels] ([Id], [DonorName], [Number], [Bloodid], [Sex], [Address]) VALUES (2, N'Jasmin Akther', N'01814327327', 1, N'Female', N'Chittagong')
INSERT [dbo].[BloodDonorModels] ([Id], [DonorName], [Number], [Bloodid], [Sex], [Address]) VALUES (3, N'Rashedul Islam', N'01524364325', 5, N'Male', N'Chittagong')
SET IDENTITY_INSERT [dbo].[BloodDonorModels] OFF
SET IDENTITY_INSERT [dbo].[BloodModels] ON 

INSERT [dbo].[BloodModels] ([Id], [BloodGroup]) VALUES (1, N'A+')
INSERT [dbo].[BloodModels] ([Id], [BloodGroup]) VALUES (2, N'A-')
INSERT [dbo].[BloodModels] ([Id], [BloodGroup]) VALUES (3, N'B+')
SET IDENTITY_INSERT [dbo].[BloodModels] OFF
SET IDENTITY_INSERT [dbo].[DoctorDetailsModels] ON 

INSERT [dbo].[DoctorDetailsModels] ([Id], [Name], [Degree], [Fees], [Schedule], [SpecialistId], [Email], [Password]) VALUES (18, N'K8VCBzoechPOpnQHwfcgzQ==', N'P25OHnkwvLXrY+k/MpxIIQ==', 600, N'+DieEpXsdhQAkbrDWvnmrnIzHa7IbZTJ58O/QkXZHfo=', 2, N'tagegKc5i+YM3VuE2SVpdA==', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E')
INSERT [dbo].[DoctorDetailsModels] ([Id], [Name], [Degree], [Fees], [Schedule], [SpecialistId], [Email], [Password]) VALUES (19, N'JgMYqIgFEFVDUAMOdEDEqw==', N'fF/RPzvnBdED43yIoG79nA==', 500, N'EDL8Eu5Pa4T8JodYROBqFfT3ODD9SsskUCTDCII4FiU=', 2, N'nzu2Ig6ACG8ulzzYpsBFAg==', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E')
INSERT [dbo].[DoctorDetailsModels] ([Id], [Name], [Degree], [Fees], [Schedule], [SpecialistId], [Email], [Password]) VALUES (20, N'uMTxRlgRjjkh0Bjr9Jv4cA==', N'Xp6KIFPlv+e0rTT5wdbjAg==', 500, N'EDL8Eu5Pa4T8JodYROBqFfT3ODD9SsskUCTDCII4FiU=', 1, N'/nxFw+dtrG4NGGPID15KEg==', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E')
SET IDENTITY_INSERT [dbo].[DoctorDetailsModels] OFF
SET IDENTITY_INSERT [dbo].[Nurses] ON 

INSERT [dbo].[Nurses] ([Id], [Name], [Designation], [Email], [Password], [Number], [Wardassign]) VALUES (1, N'XqLaaln6xTfF8BcukweFD2SM4/3P+0T9NwyZAA0PJ8U=', N'5naEg9fZJnUG3t3NHLwm/Q==', N'XvjWTfO7WbnOY5hnH5GIWCzBVJtTnEyYowsljGZ3vVY=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'VDN054f+gTKDE6h8fWPOdw==', 0)
INSERT [dbo].[Nurses] ([Id], [Name], [Designation], [Email], [Password], [Number], [Wardassign]) VALUES (4, N'oDWaOW2LRB9bda8dKwfKHw==', N'9sZX20Z+uRw0tKBKQp/OMw==', N'7B7aAkmFk6kZ6AlFRh1SbKSxmNLCX5n7v/NDJQtEAac=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'1rrQ57QQ0Gl9Qb0rWVi5nA==', 3)
INSERT [dbo].[Nurses] ([Id], [Name], [Designation], [Email], [Password], [Number], [Wardassign]) VALUES (5, N'lEuV2wQSvj+nnR71dGx6iw==', N'u8UCUydFaLZTqKdK4F1w6w==', N'QwwJZk4oNPKMYzJWEdCl8yCgj7QIH/2lp5RQEYMbgUA=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'j9R9JRSyfYX6VQbgiaSqQA==', 0)
SET IDENTITY_INSERT [dbo].[Nurses] OFF
SET IDENTITY_INSERT [dbo].[PatientAppointmentModels] ON 

INSERT [dbo].[PatientAppointmentModels] ([Id], [PatientName], [Number], [Email], [Date], [SpecialistId], [DoctorId], [Sex], [PatientId], [Prescription], [WardId], [Accepted]) VALUES (1, N'Khaled Khan', 1653243624, N'khaled@gmail.com', N'Oct 14 2019 12:00AM', N'1', 0, N'Male', 0, NULL, 0, 0)
INSERT [dbo].[PatientAppointmentModels] ([Id], [PatientName], [Number], [Email], [Date], [SpecialistId], [DoctorId], [Sex], [PatientId], [Prescription], [WardId], [Accepted]) VALUES (2, N'Rafiq', 1234567891, N'A@gmail.com', N'Oct 15 2019 12:00AM', N'4', 0, N'Male', 0, NULL, 0, 0)
INSERT [dbo].[PatientAppointmentModels] ([Id], [PatientName], [Number], [Email], [Date], [SpecialistId], [DoctorId], [Sex], [PatientId], [Prescription], [WardId], [Accepted]) VALUES (3, N'Raihan', 1256789456, N'am@gmail.com', N'Oct 14 2019 12:00AM', N'6', 0, N'Male', 0, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[PatientAppointmentModels] OFF
SET IDENTITY_INSERT [dbo].[Receptionists] ON 

INSERT [dbo].[Receptionists] ([Id], [Name], [PhoneNo], [Email], [Password], [Address]) VALUES (4, N'6a1fWgcpuVQh4cX4wtNfeA==', N'BzBchvKY2Zk5R3trmQxI8A==', N'kGyvXqyXB/1eZ34SwOqZdLCA9uy03J6qayn0AAxmqCY=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'yfZDFQFZjY/syUQpVCz+vg==')
INSERT [dbo].[Receptionists] ([Id], [Name], [PhoneNo], [Email], [Password], [Address]) VALUES (5, N'/IfkSLymhF2vKSjsufWLog==', N'MVN/TEXOmb4IZQ7oz9U7Aw==', N'uBvLrU6492jq0bq4BTZakGPECU4GOQdznk/yUHzeJvo=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E', N'lNnwu3Mpd9IaifxNcwPZEA==')
SET IDENTITY_INSERT [dbo].[Receptionists] OFF
SET IDENTITY_INSERT [dbo].[Registers] ON 

INSERT [dbo].[Registers] ([Id], [Name], [Age], [Address], [PhoneNo], [Email], [Password]) VALUES (14, N'yE/kMB1bssV/EhfCs7SGtw==', 25, N'KPcH6eZdH05IyurCmUFgww==', N'2esUldVCnEWZOyocTlysOQ==', N'd2nMW1bdLY6rnUumFH28BKJSp7IOe3p2fFPX237BmiE=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E')
INSERT [dbo].[Registers] ([Id], [Name], [Age], [Address], [PhoneNo], [Email], [Password]) VALUES (15, N'bDB9Bs0Qj5R1d6TSUstmNg==', 50, N'yfZDFQFZjY/syUQpVCz+vg==', N'2esUldVCnEWZOyocTlysOQ==', N'0PW03j5YuVjp5IaYnCb6gQ==', N'42-97-F4-4B-13-95-52-35-24-5B-24-97-39-9D-7A-93')
INSERT [dbo].[Registers] ([Id], [Name], [Age], [Address], [PhoneNo], [Email], [Password]) VALUES (16, N'f2uiltyfWq8W3HK/uzuejQ==', 20, N'WEaLA+dOBfnKlM3R9FHFBQ==', N'VyO3VEe9EFKzJ5tAfpZOAg==', N'gJfFeFYzx+TOVT64xuKevuOgZkuHUSaiaDDJ+ImytGk=', N'E1-0A-DC-39-49-BA-59-AB-BE-56-E0-57-F2-0F-88-3E')
SET IDENTITY_INSERT [dbo].[Registers] OFF
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Name], [Image], [Link]) VALUES (1, N'Doctors Appointment', N'/picture/app.jpg', N'Appointment')
INSERT [dbo].[Services] ([Id], [Name], [Image], [Link]) VALUES (2, N'Find Doctor', N'/picture/doctor.jpg', N'DoctorInfo')
INSERT [dbo].[Services] ([Id], [Name], [Image], [Link]) VALUES (3, N'Patient & Visitor Guide', N'/picture/tutorial.jpg', N'Tutorial')
SET IDENTITY_INSERT [dbo].[Services] OFF
SET IDENTITY_INSERT [dbo].[SpecialistModels] ON 

INSERT [dbo].[SpecialistModels] ([Id], [Specialist]) VALUES (1, N'Eye')
INSERT [dbo].[SpecialistModels] ([Id], [Specialist]) VALUES (2, N'Medicine')
INSERT [dbo].[SpecialistModels] ([Id], [Specialist]) VALUES (3, N'Cardiology')
SET IDENTITY_INSERT [dbo].[SpecialistModels] OFF
SET IDENTITY_INSERT [dbo].[TestForms] ON 

INSERT [dbo].[TestForms] ([Id], [Name], [Email], [Number], [Address], [TestName], [Date], [PatientId]) VALUES (1, N'Amaz', N'amaz@gmail.com', N'01814657632', N'agrabad', NULL, NULL, 0)
INSERT [dbo].[TestForms] ([Id], [Name], [Email], [Number], [Address], [TestName], [Date], [PatientId]) VALUES (2, N'Amaz', N'amaz@gmail.com', N'01867622722', N'agrabad', NULL, N'2019-10-22', 1)
INSERT [dbo].[TestForms] ([Id], [Name], [Email], [Number], [Address], [TestName], [Date], [PatientId]) VALUES (3, N'Amaz', N'amaz@gmail.com', N'01814657632', N'asdf', NULL, N'2019-10-23', 1)
SET IDENTITY_INSERT [dbo].[TestForms] OFF
SET IDENTITY_INSERT [dbo].[Wards] ON 

INSERT [dbo].[Wards] ([Id], [Name]) VALUES (1, N'ICU')
INSERT [dbo].[Wards] ([Id], [Name]) VALUES (2, N'General')
INSERT [dbo].[Wards] ([Id], [Name]) VALUES (3, N'Gynecology')
SET IDENTITY_INSERT [dbo].[Wards] OFF
ALTER TABLE [dbo].[Nurses] ADD  DEFAULT ((0)) FOR [Wardassign]
GO
ALTER TABLE [dbo].[PatientAppointmentModels] ADD  DEFAULT ((0)) FOR [PatientId]
GO
ALTER TABLE [dbo].[PatientAppointmentModels] ADD  DEFAULT ((0)) FOR [WardId]
GO
ALTER TABLE [dbo].[PatientAppointmentModels] ADD  DEFAULT ((0)) FOR [Accepted]
GO
ALTER TABLE [dbo].[TestForms] ADD  DEFAULT ((0)) FOR [PatientId]
GO
USE [master]
GO
